

body {
  background-color:white;
  overflow: auto;
}

:root {
  --grey: grey;
  --white: #ecf0f1;
}



.text-editor {
  border: 1px solid black;
  background-color: var(--grey);
  width: 30vw;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%) translateY(-50%);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19);




}

.header {
  background-color: var(--white);
  padding: 5px
}

.header .btn {
  border: none;
  outline: none;
  background-color: transparent;
  margin-right: 5px;
  cursor: pointer;
}

.content {
  min-height: 200px;
  border: 1px solid var(--white);
  border-top: 0px;
  padding: 20px;
  cursor: pointer;

}

a {
  cursor: pointer;
}
img.uneditable {
  pointer-events: none;
}
#delete-image{
  margin-left: 50%;
  margin-right: 50%;
}